{
	# Even an encoded request path contains someone's destination.
	log default {
		exclude http.log.access http.log.error
	}
}

{$PI_APP_DOMAIN:pi.sg} {
	header Strict-Transport-Security "max-age=31536000"
	reverse_proxy app:8788
}
